.App-header {
  padding: 20px;
  background-color: #284363; 
}

.header-content {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  width: 100%; 
  color: rgb(255, 255, 255);
}

.header-text {
  flex: 0 0 75%; 
  padding-right: 20px; 
  color: rgb(255, 255, 255);
}

.header-image {
  flex: 0 0 25%; 
  display: flex; 
  justify-content: center; 
}

.header-image img {
  width: 100%; 
  height: auto;
  max-width: 150px; 
}

.section {
  margin: 20px;
}

.contact-info {
  margin-top: 40px; 
  display: flex;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px; 
  color: #ffffff; 
  font-size: 1.2rem; 
}